<%- include('./header.ejs') %>

<body onload="get_badge()">

<!--wrapper-->
<div class="wrapper">

    <%- include('./sidebar.ejs') %>
    <%- include('./topbar.ejs') %>

    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">

            <%- include('./copyright.ejs') %>
        </div>
    </div>
    <!--end page wrapper -->

    <%- include('./footer.ejs') %>

</div>
<!--wrapper ended-->

</body>

</html>